# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Files
*.log
migration-state.json
appsettings.Development.json

# Folders
Logs/
dmsfiles/
